
<div class="containerApp">
  <header>
    <!-- toolBar start -->
    <mat-toolbar class="toolBar">

      <h2 class="title" (click)="goToMain()">WEATHER</h2>
      <div class="search">
        <h2 class="date">{{this.date}}</h2>

        <div class="inputContainer">

          <input inputHint [selection]="search" (keydown)="inputEnter($event,input.value)" [this]="this" class="searchCity" #input placeholder="Поиск" />
          <div class="buttonSerch">
            <button mat-icon-button (click)="search(input.value)">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </mat-toolbar>
    <!-- toolBar end -->
  </header>

  <div class="bcgBox" [ngClass]="dayClass">
    <!-- period start-->
    <div class="period" #period (click)="periodClick($event)">
      <button id="oneDay" mat-flat-button class="active">1 день</button>
      <button id="threeDay" mat-flat-button>3 дня</button>
      <button id="oneweek" mat-flat-button>неделя</button>
    </div>
    <!-- period end-->
    <div class="content" *ngIf="!selectCity">
      <div class="contentWrap">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!--список городов с одинаковым названием start-->
    <div class="selectCity" *ngIf="selectCity">
      <div class="selectSityContainer">
        <div class="selectList" *ngIf="searchList.length !== 0">
          <ng-container *ngFor="let city of  searchList">
            <p (click)="setCity({
               name:city.name,
               lat:city.lat,
               lon:city.lon
               })">
              {{city.name}},
              <span>
                {{getRegion(city.state!,city.country!)}}
              </span>
              <span>
                &nbsp;
                <img [src]="flasgPath + getFlag(city.country!)" />
              </span>
            </p>
          </ng-container>
        </div>
        <div *ngIf="searchList.length === 0">
          <h1 style="margin:50px;text-align:center;">
            НЕТ РЕЗУЛЬТАТОВ.
          </h1>
        </div>
      </div>
    </div>
    <!--список городов с одинаковым названием end-->
  </div>

  <footer>
    <div class="footerWrap evening">
      <div class="footerSection">

        <h3>Section name</h3>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="footerSection">
        <h3>Section name</h3>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="footerSection">
        <h3>Section name</h3>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
        <p>Tincidunt integer eu augue augue.</p>
      </div>
    </div>
  </footer>
</div>









